<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186484070630-7adpebkhebc2bsrv5ta4l5dfo87h8qup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186484070630-7adpebkhebc2bsrv5ta4l5dfo87h8qup</string>
	<key>API_KEY</key>
	<string>AIzaSyC8hdVTCHNqzVscGIOd6g2-OI1FVYcPm_0</string>
	<key>GCM_SENDER_ID</key>
	<string>186484070630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laundryManagementSystem</string>
	<key>PROJECT_ID</key>
	<string>laundry-management-syste-417b7</string>
	<key>STORAGE_BUCKET</key>
	<string>laundry-management-syste-417b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186484070630:ios:4e7e5d54793b8f7b170327</string>
</dict>
</plist>